/*GENERALES*/

img {
    max-width: 100%;
}

* {
    box-sizing: border-box
}

/**INDEX**/

.index {
    background-image: url(/imagenes-feria/frutas.jpg), url(/imagenes-feria/espinosa.jpg);
    background-repeat: no-repeat;
    background-position: center top, left top, right top;
    background-size: 33%, 100%;
    background-color: #EADDA6;
}

h1 {
    font-family: 'Tangerine', cursive;
    font-size: 150px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgb(3, 0, 0);
    text-align: center;
}

h2 {
    font-family: 'Italianno', cursive;
    font-size: 80px;
    margin-top: 120px;
    color: black;
}

h3 {
    font-family: 'Italianno', cursive;
    font-size: 60px;
    text-align: end;
    margin-top: 0px;
    color: black;
}

/*BOTON*/

a img {
    border-radius: 80%;
    width: 200px;
    height: 200px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

header .boton-tienda {
    display: flex;
    justify-content: center;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*BOTON-COMPRAR*/

.botones-compra {
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
}

.box-3 {
    display: flex;
    justify-content: center;
}

.btn {
    line-height: 40px;
    height: 40px;
    width: 80%;
    cursor: pointer;
    margin-bottom: 8px;
}

.btn-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}

.btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
}

.btn-three:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

.btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.2, 1.2);
}

.btn-three:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}

/*TARJETAS*/

.contenedor-tienda {
    width: 1200px;
}

.tarjetas {
    background-color: rgba(241, 235, 237, 0.199);
    border-radius: 10%;
    padding-top: 40px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.tarjetas p {
    color: black;
    font-family: 'Old Standard TT', serif;
}

.tarjetas .numbertext {
    color: black;
    font-size: 25px;
}

.tarjetas .botones-compra {
    color: black;
}

/*FLIP*/

.centrar-flip {
    display: flex;
    justify-content: center;
    height: 110px;
}

.flipper {
    margin: 0 auto;
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    font-size: 22px;
    color: rgb(252, 248, 247);
}

.flipper1 {
    margin: 0 auto;
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    font-size: 22px;
    color: blanchedalmond;
}

.flip-box {
    background-color: transparent;
    width: 350px;
    height: 150px;
    perspective: 500px;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 0% 50%);
}

/* This container is needed to position the front and back side */

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    display: flex;
    align-items: center;
}

/* Style the front side */

.flip-box-front {
    background: url(imagenes-feria/musgo3.jpg);
    border-radius: 15%;
    height: 50px;
    margin-top: 20px;
    margin-left: 52px;
    width: 250px;
}

/* Style the back side */

.flip-box-back {
    background: url(imagenes-feria/musgo3.jpg);
    border-radius: 15%;
    height: 100px;
    transform: rotateY(180deg);
}

/*SLIDE*/

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: relative;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(5, 0, 0);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 5px;
    position: relative;
    top: 0;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/*TIENDA*/

.contenedor-tienda {
    max-width: 100%;
    margin: 0 auto;
}

.hero-tienda {
    opacity: 0.9;
}

.hero-tienda {
    text-align: center;
    background-image: url(botanica/4.jpg), url(botanica/3.jpg);
    opacity: 0.9;
    background-position: center right, center left;
    background-size: 450px 700px;
    background-repeat: no-repeat;
}

.hero-tienda img {
    margin-top: 90px;
}

.body-tienda {
    background-image: url(imagenes-feria/bosque-rojo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.nuestra-tienda {
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 55px;
    font-weight: bolder;
    position: absolute;
    left: 35%;
    right: 35%;
    margin-top: -120px;
}

li img {
    width: 90%;
    height: 300px;
    border-radius: 50%;
    border: 8px double #050505;
}

li p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li a {
    font-family: sans-serif;
}

.ropa li {
    flex: 28%;
    height: auto;
    text-align: center;
    list-style: none;
    margin: 10px;
}

.ropa {
    padding: 0;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/*TIENDA2*/

.tienda2 {
    background-image: url(imagenes-feria/bosque-azul.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.contenedor-tienda {
    max-width: 100%;
    margin: 0 auto;
}

.hero-tienda {
    opacity: 0.9;
}

.hero-tienda2 {
    text-align: center;
    background-image: url(botanica/8.jpg), url(botanica/10.jpg);
    opacity: 0.9;
    background-position: center right, center left;
    background-size: 450px 700px;
    background-repeat: no-repeat;
}

.hero-tienda2 .nuestra-tienda {
    margin-top: -70px;
}

.hero-tienda2 img {
    width: 564px;
    height: 797px;
    margin-top: 90px;
}

.body-tienda2 {
    background-image: url(imagenes-feria/bosque-azul.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.nuestra-tienda {
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 55px;
    font-weight: bolder;
    position: absolute;
    left: 35%;
    right: 35%;
    margin-top: -120px;
}

/*FOOTER*/

footer {
    background-image: url(footerferia/sincara.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: 300px;
    height: 380px;
    width: 300px;
    border-style: dashed;
    box-shadow: 25px 25px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 25px 25px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 25px 25px 10px 0px rgba(0, 0, 0, 0.75);
}

footer p {
    line-height: 200px;
    margin-left: -40px;
    height: 100px;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
}

.centrar-footer {
    display: flex;
    justify-content: center;
}

/*SEARCH*/

form {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 3px;
    margin-top: 40px;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    ;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover {
    width: 200px;
    cursor: pointer;
}

form:hover input {
    display: block;
}

form:hover .fa {
    background: #07051a;
    color: white;
}

/**MEDIA QUERIES**/
/**INDEX**/
@media only screen and (min-width: 700px) and (max-width: 760px) {
    .index {
        background-image: url(/imagenes-feria/frutas.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% 160%;
    }
    h1 {
        font-size: 80px;
    }
    h2 {
        font-size: 60px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 700px) {
    .index {
        background-image: url(/imagenes-feria/frutas.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% 160%;
    }
    h1 {
        font-size: 65px;
    }
    h2 {
        font-size: 45px;
        text-align: center;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    .index {
        background-image: url(/imagenes-feria/alocasia.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% 160%;
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 30px;
        text-align: center;
    }
}
@media (max-width: 320px) {
    .index {
        background-image: url(/imagenes-feria/alocasia.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% 160%;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 25px;
        text-align: center;
    }
}

/**MEDIA QUERIES TIENDAS**/   
@media only screen and (min-width: 480px) and (max-width: 743px) {
    .contenedor-tienda {
        width: 480px;
        height: 600px;
    }
}

